.team__wrapper{
    padding: 30px 0;
}
.team__title{
    font-size: 28px;
    font-weight: bold;
    color: #13182a;
    text-align: center;
    margin-bottom: 30px;
}
.team__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    max-width: 300px;
}
.team__card-title{
    text-align: start;
    color: #13182a;
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
}
.team__card-subtitle{
    color: #13182a;
    margin-bottom: 20px;
}
.team__card-social{
    display: flex;
    gap: 15px;
}
.team__card-social-link{
    font-size: 25px;
    color: #13182a;
    cursor: pointer;
}