.schedule_and_price{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}
.schedule_and_price__title{
    font-weight: bold;
    font-size: 26px;
    color: #101C41;
    text-align: center;
    margin-bottom: 20px;
}
.price__subtitle{
    color: #101C41;
    font-size: 18px;
    line-height: 1.3;
}
.price__subtitle span{
    color: red;
}
.schedule__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.schedule__info p{
    color: #101C41;
    font-size: 18px;
    line-height: 1.3;
}
.schedule__info p span{
    color: red;
}
