.event{
    margin: 50px 0 0 0 ;
}
.event__title{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #101C41;
    margin-bottom: 20px;
}
.event__content{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.event__content img{
    max-height: 400px;
}
.event__content-info{
    max-width: 400px;
    line-height: 1.5;
    color: #101C41;
}
.event__gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-bottom: 50px;
}
.wide{
    grid-column: 1 / 4 ;
}